.reveal-item {
	opacity: 0;
	transition: all 1.5s ease-out;
	transform: scale(1.15);

	&--is-visible {
		opacity: 1;
		transform: scale(1);
	}
}

.header__large-screen--dark {
	background-color: $secondary-blue !important;
}

.shrink {
	@include respond(ipadPro) {
		transform: scale(0.55) !important;
	}
}

.grow {
	@include respond(ipadPro) {
		transform: scale(1) !important;
	}
}

.btn-animation {
	color: $light-color-1;
	background: $primary-orange;
	padding: 2rem;
	border-radius: 0.5rem;
	display: inline-block;
	border: none;

	&:hover {
		letter-spacing: 1px;
		box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
		transition: all 0.4s ease 0s;
	}
}
