.margin-zero {
	margin: 0;
}

.margin-top {
	margin-top: 4rem;

	@include respond(ipadPro) {
			margin-top: 5.5rem;
		}
}

.margin-top--small {
	margin-top: 1.5rem;
}

.text-center {
	text-align: center;
}

.center-images {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;

	@include respond(ipadPro) {
			margin-bottom: 6rem;
		}
}

.wrapper {
	padding-right: 2rem;
	padding-left: 2rem;
	max-width: 90vw;
	margin-right: auto;
	margin-left: auto;
}

.padding-vertical {
	padding: 4.5rem 0;

	@include respond(ipad) {
		padding: 5.5rem 0;
	}

	@include respond(ipadPro) {
		padding: 6.5rem 0;
	}

	@include respond(large) {
		padding: 8rem 0;
	}
}

.bg-blue {
	background-color: $primary-blue;
	color: $light-color-1;
}
