.margin-zero {
	margin: 0;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wrapper {
	padding-right: 2rem;
	padding-left: 2rem;
	max-width: 85vw;
	margin-right: auto;
	margin-left: auto;
}

.margin-vertical {
	padding: 4.5rem 0;
}

.bg-blue {
	background-color: $primary-blue;
	color: $light-color-1;
}
