@mixin center {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

@mixin font-color-weight {
	font-weight: 300;
	color: $primary-blue;
}

@mixin small-padding {
	padding: 2rem;
}

// MEDIA QUERY MANAGER
/*
0 - 530 px: default;
530px - 1024px: ipad
1024px - 1800px: ipadPro
1800px+: large

$breakpoint argument choices:
- ipad
- ipadpro
- large

1em = 16px
*/

@mixin respond($breakpoint) {
	@if $breakpoint == ipad {
		@media only screen and (min-width: em(530)) {
			@content;
		}
	}

	@if $breakpoint == ipadPro {
		@media only screen and (min-width: em(1024)) {
			@content;
		}
	}

	@if $breakpoint == large {
		@media only screen and (min-width: em(1080px)) {
			@content;
		}
	}
}
