@mixin center {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

@mixin font-color-weight {
	font-weight: 300;
	color: $primary-blue;
}

@mixin small-padding {
	padding: 2rem;
}

// MEDIA QUERY MANAGER
/*
0 - 600 px: Mobile
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our normal styles apply
10800px +: Big Deskstop

$breakpoint argument choices:
- mobile
- tab-port
- tab-land
- big-desktop

1em = 16px
*/

@mixin respond($breakpoint) {
	@if $breakpoint == ipad {
		@media only screen and (min-width: 33.125em) {
			@content;
		} //530px
	}

	@if $breakpoint == ipadPro {
		@media only screen and (min-width: 64em) {
			@content;
		} //1024
	}

	@if $breakpoint == large {
		@media only screen and (min-width: 112.6em) {
			@content;
		} //1800px
	}
}
