.btn {
	background-color: $primary-blue;
	color: $light-color-1;
	text-decoration: none;
	padding: 1rem 1.5rem;
	display: inline-block;

	&--orange {
		background-color: $primary-orange;
	}

	&--large {
		padding: 1.3rem 2rem;

		@include respond(ipad) {
			font-size: 1.5rem;
		}
	}
}
