.beginning {
	&__image {
		@include respond(ipadPro) {
			flex-basis: 37%;
		}
	}

	&__text {
		margin-top: 2rem;

		@include respond(ipadPro) {
			margin-top: 0rem;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			flex-basis: 65%;
		}

		@include respond(large) {
			font-size: 1.6rem;
		}
	}

	&__paragraph {
		margin-top: 2rem;
	}
}

.row {
	text-align: center;
	margin-top: 2rem;
	@include respond(ipadPro) {
		display: flex;
		flex-direction: row;
		margin-top: 0;
	}

	&-gutter > div {
		@include respond(ipadPro) {
			padding-left: 5rem;
		}
	}
}
